# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/
.python-version

# Distribution / packaging
build/
dist/
tools/
*.egg-info/
*.egg
.eggs/
MANIFEST

# PyInstaller
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nosetests.xml
coverage.xml
*.cover
.cache
.pytest_cache/
.GlyphVenv/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.buildmeta/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ncb
*.suo
*.opensdf
*.sdf
*.cache
*.log
*.tlog
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.ipch
*.obj
*.idb
*.class
*.psess
*.vsp
*.vsix
*.user
*.rsuser
*.scc

# Visual Studio folders
.vs/
Debug/
Release/
x64/
x86/
ipch/
bin/
obj/
Glyphborn/x64